footer
    background #858688
    > .center
        display flex
        +below($tablet)
            display block
    .col
        border-left 1px solid rgba(#fff, .3)
        padding 25px 20px
        padding-right 55px
        max-width 25%
        +below($tablet)
            display none
            max-width 100%
            &:last-child
                display block
        a
            display block
            montserrat 14 bold
            color #fff
            margin-bottom 8px
            &:hover
                color #3C3C3C
        .lista a
            montserrat 12
            margin-bottom 4px
        .telefone
        .whatsapp
        .email
            montserrat 13 bold
            padding-left 36px
            min-height 21px
            color #fff
            margin 0 0 6px
        .telefone
            background $img('telefone-vermelho.png') no-repeat center left
        .whatsapp
            background $img('whats.png') no-repeat 3px center
        .email
            height 19px
            line-height 19px
            margin-top 20px
            background $img('carta-2.png') no-repeat center left
        .endereco
            opensans 12
            color #fff
            margin 20px 0 0
    .copyright
        background #000
        p
            margin 0
            opensans 10
            color #fff
            text-align center
            padding 10px
            a:hover
                text-decoration underline
            +mobile()
                span
                    font-size 0
                    display block

