header
    height 132px
    background #DDDDD5
    overflow hidden
    position relative
    +mobile()
        height 90px
        background #fff
    &:after
        content ''
        position absolute
        bottom 0
        left 0
        width 100%
        height 2px
        background #888
    &.home:after
        display none
    .center
        height 100%
        clearfix()
    .logo
        display block
        width 476px
        height 100%
        background $img('menu-corte2.png') no-repeat center -1px
        text-indent -9999px
        position relative
        float left
        &:after
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background $img('logo.png') no-repeat 83px center
        +mobile()
            background none
            width 140px
            &:after
                background-size 100% auto
                background-position center
    .nav-desktop
        width 2000px
        height 66px
        position absolute
        left 355px
        bottom 0
        background #fff
        +mobile()
            display none
        a
            line-height 66px
            montserrat 15 bold
            color #000
            text-transform uppercase
            margin-right 14px
            &.active
            &:hover
                color $vermelho
            +below($tablet)
                display none
    .nav-secundaria
        clearfix()
        height 30px
        float right
        margin-top 20px
        +mobile()
            margin-top 30px
        .telefone
        .whatsapp
            float left
            background #000
            montserrat 13 bold
            color #fff
            height 30px
            line-height 30px
            margin-right 2px
            padding 0 8px 0 40px
            +below(900px)
                display none
        .telefone
            background $img('telefone-vermelho.png') no-repeat 7px center #000
        .whatsapp
            padding-left 35px
            background $img('whats.png') no-repeat 7px center #000
        .links
            float left
            background $vermelho
            height 30px
            margin-left 8px
            +below($tablet)
                display none
            a
                montserrat 13 bold
                color #fff
                line-height 30px
                padding 0 10px
                &:hover
                &.active
                    color #000
                &:first-child
                    position relative
                    &:after
                        content ''
                        position absolute
                        top 4px
                        right -2px
                        width 2px
                        height 9px
                        background #fff
        .facebook
            display block
            float left
            margin-left 10px
            width 30px
            height 30px
            background $img('face.png') no-repeat center $vermelho
            transition background .3s
            &:hover
                background-color #000
            +mobile()
                margin-left 0
                margin-right 50px
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position absolute
        height 22px
        width 30px
        right 0
        bottom 23px
        outline 0
        padding 0
        +mobile()
            height 100%
            bottom 0
        .lines
            display block
            width 100%
            height 4px
            background $vermelho
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $vermelho
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

.nav-mobile
    +above($tablet)
        display none !important
    display none
    background $vermelho
    position absolute
    z-index 9997
    border-bottom 4px solid darken($vermelho, 5)
    width 100%
    padding 15px 5%
    text-align center
    left 0
    top 132px
    +mobile()
        top 90px
    a
        montserrat 15 bold
        color #fff
        display block
        margin 7px 0
        text-transform uppercase
        &.active
            color #000

.main
    margin 30px 0
    .titulo
        montserrat 16 bold
        color $vermelho
        margin 0 0 30px
    +mobile()
        margin 20px 0
        .titulo
            margin-bottom 20px

.not-found
    width 100%
    text-align center
    padding 180px 0
    +tablet()
        padding 120px 0
    +mobile()
        padding 80px 0
    h1
        display inline-block
        padding 12px 18px
        border 2px solid $vermelho
        montserrat 15 bold
        color $vermelho
        text-transform uppercase
