.blog
    .center
        clearfix()
    nav
        width 28.333%
        float left
        +mobile()
            width 100%
            margin-top 20px
        a
            display block
            opensans 15
            border-bottom 1px solid #A9A9A9
            padding 6px
            padding-right 30px
            transition padding .3s
            &:hover
                padding-left 10px
            &.active
                background $img('seta-pequena.png') no-repeat 98% center #DDDDD5
                padding-left 6px
        h2
            margin-bottom 5px !important
        h2 + a
            border-top 1px solid $vermelho
        h2:not(:first-child)
            margin-top 30px
            +mobile()
                margin-top 20px
    .lista
        width 69%
        float right
        border-top 1px solid $vermelho
        background #DDDDD5
        padding 20px
        +mobile()
            width 100%
        .wrapper
            background #fff
        a
            display block
            montserrat 20 bold
            color #000
            margin 0
            padding 25px
            border-bottom 10px solid #DDDDD5
            +mobile()
                padding 20px
                font-size 18px
            &:last-child
                border none
            &:hover
                color $vermelho
            span
                display block
                opensans 12
                margin-top 8px
    .post
        width 69%
        float right
        +mobile()
            width 100%
        .conteudo
            border-top 1px solid $vermelho
            background #DDDDD5
            padding 20px
            .wrapper
                background #fff
                padding 25px
                h1
                    montserrat 20 bold
                    color #000
                    margin 0 0 30px
                    +mobile()
                        font-size 18px
                    span
                        display block
                        opensans 12
                        margin-top 8px
                p
                    opensans 14
                    &:last-child
                        margin-bottom 0
                    a
                        color $vermelho
                        text-decoration underline
                img
                    max-width 100%
                    display block
        .comentario
            background #DDDDD5
            margin-top 10px
            padding 20px
            form
                clearfix()
                h5
                    margin 0 0 5px
                    montserrat 16 bold
                    color $vermelho
                input
                textarea
                    background rgba(#fff, .8)
                    outline 0
                    border 0
                    opensans 12
                    margin-bottom 2px
                    display block
                    width 100%
                    padding 3px 6px
                    resize none
                textarea
                    width calc('100% - 22px')
                    height 50px
                    float left
                input[type=submit]
                    width 20px
                    height 50px
                    color $vermelho
                    text-align center
                    float right
                    opensans 12 bold
                    transition background .3s, color .3s
                    &:hover
                        background #000
                        color #fff
                #form-comentario-response
                    display none
                    width 100%
                    margin-top 4px
                    float left
                    border 2px solid rgba(#000, .4)
                    montserrat 12 bold
                    text-transform uppercase
                    color rgba(#000, .7)
                    text-align center
                    padding 10px
                #nome
                #email
                    width calc('50% - 1px')
                    float left
                #email
                    float right
            form + .comentario
                margin-top 10px
            > .comentario
                border-top 1px solid #bbb
                padding 8px 0
                margin 0
                p
                    opensans 12
                    font-style italic
                    margin 0
                span
                    opensans 10
                    display block
                    margin-bottom 5px
                &:last-child
                    border-bottom 1px solid #bbb
        .navegacao
            border-top 1px solid $vermelho
            margin-top 10px
            padding-top 10px
            clearfix()
            width 100%
            +mobile()
                margin-bottom 20px
            a
                montserrat 16 bold
                display inline-block
                color $vermelho
                +mobile()
                    font-size 14px
                &:hover
                    color #000
                &.anterior
                    float left
                &.proximo
                    float right
