.cases
    clearfix()
    .thumbs
        clearfix()
        a
            display block
            width calc('25% - 15px')
            margin-right 20px
            margin-bottom 30px
            float left
            &:nth-child(4n)
                margin-right 0
            .imagem
                position relative
                overflow hidden
                img
                    width 100%
                    display block
                    transition transform .3s
            +tablet()
                width calc('33.333% - 13.333px')
                &:nth-child(4n)
                    margin-right 20px
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 10px')
                margin-bottom 20px
                &:nth-child(4n)
                    margin-right 20px
                &:nth-child(2n)
                    margin-right 0
            span
                opensans 14 bold
                display block
                margin 10px 0 0
            .overlay
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba(#000, .7)
                opacity 0
                transition opacity .3s
                &:before
                &:after
                    content ''
                    position absolute
                    background #fff
                    left 50%
                    top 50%
                    transform translateX(-30px) translateY(-1px)
                &:before
                    width 2px
                    height 60px
                    left 50%
                    top 50%
                    transform translateX(-1px) translateY(-30px)
                &:after
                    width 60px
                    height 2px
            &:hover
                .overlay
                    opacity 1
                img
                    transform scale(1.1, 1.1) rotate(3deg)
    .left
    .right
        width 49.2%
        +mobile()
            width 100%
        h1
            opensans 24 bold
            margin 0 0 15px
            +mobile()
                font-size 22px
        p
            opensans 15
            +mobile()
                font-size 14px
        img
            max-width 100%
            display block
            margin-bottom 10px
    .left
        float left
    .right
        float right
