.clientes
    .center
        clearfix()
    nav
        float left
        width 240px
        +tablet()
            width 200px
        +mobile()
            width 100%
            margin-top 10px
        a
            display block
            montserrat 14 bold
            padding 5px 7px
            background #DDDDD5
            margin-bottom 2px
            transition background .3s
            &:hover
                background darken(#DDDDD5, 3)
            &.active
                background #8B8A76 !important
                color #fff
    .marcas
        width calc('100% - 285px')
        float right
        +tablet()
            width calc('100% - 245px')
        +mobile()
            width 100%
        img
            display block
            width calc('20% - 16px')
            margin-right 20px
            margin-bottom 20px
            float left
            &:nth-child(5n)
                margin-right 0
            +tablet()
                width calc('25% - 15px')
                &:nth-child(5n)
                    margin-right 20px
                &:nth-child(4n)
                    margin-right 0
            +mobile()
                width calc('33.333% - 6.667px')
                margin-right 10px
                margin-bottom 10px
                &:nth-child(5n)
                    margin-right 10px
                &:nth-child(3n)
                    margin-right 0
