.contato
    .center
        clearfix()
    .informacoes
        width 325px
        float left
        .telefone
        .whatsapp
        .email
            montserrat 20 bold
            padding-left 36px
            min-height 21px
            margin 0 0 6px
        .telefone
            background $img('telefone-vermelho.png') no-repeat center left
        .whatsapp
            background $img('whats.png') no-repeat 3px center
        .email
            display inline-block
            height 20px
            line-height 20px
            margin-top 20px
            font-size 13px
            background $img('carta-2.png') no-repeat center left
        .endereco
            opensans 16
            margin 20px 0 0
        +below($tablet)
            width 280px
            .telefone
            .whatsapp
                font-size 18px
            .endereco
                font-size 15px
        +mobile()
            width 100%
    #form-contato
        max-width 790px
        width calc('100% - 345px')
        float right
        border-top 1px solid $vermelho
        background #DDDDD5
        padding 20px
        +tablet()
            width calc('100% - 300px')
        +mobile()
            width 100%
            margin-top 25px
        h2
            montserrat 16 bold
            color $vermelho
            margin 0 0 10px
        input
        select
        textarea
            background rgba(#fff, .8)
            outline 0
            border 0
            opensans 14
            margin-bottom 4px
            display block
            width 100%
            border-radius 0
            padding 5px 8px
            resize none
        textarea
            height 150px
        input[type=submit]
            float right
            width auto
            background $vermelho
            montserrat 13 bold
            color #fff
            transition background .3s
            padding 8px 30px
            cursor pointer
            &:hover
                background #000
        #form-contato-response
            display none
            width 100%
            margin-bottom 4px
            border 2px solid rgba(#000, .4)
            montserrat 12 bold
            text-transform uppercase
            color rgba(#000, .7)
            text-align center
            padding 10px
    .mapa
        width 100%
        height 600px
        margin-top 35px
        +tablet()
            height 400px
        +mobile()
            margin-top 25px
            height 300px
        iframe
            width 100%
            height 100%
            display block
