.empresa
    .texto
        p
            opensans 16
            +mobile()
                opensans 14
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        img
            max-width 100%
            display block
    .quadros
        display flex
        margin-top 45px
        width 100%
        font-size 0
        .quadro
            display inline-block
            vertical-align top
            width calc('33.333% - 13.333px')
            background #DDDDD5
            padding 20px
            flex 1 0
            margin-right 20px
            &:last-child
                margin-right 0
            text-align center
            h3
                opensans 24 bold
                color $vermelho
                margin 0 0 1em
            p
                margin 0
                opensans 18
            +tablet()
                h3
                    font-size 20px
                p
                    font-size 16px
        +mobile()
            display block
            margin-top 30px
            .quadro
                width 100%
                margin-bottom 10px
                h3
                    font-size 18px
                p
                    font-size 14px
    .imagens
        clearfix()
        margin-top 20px
        img
            width calc('33.333% - 13.333px')
            display block
            float left
            margin-right 20px
            &:last-child
                margin-right 0
                float right
            +mobile()
                width calc('33.333% - 3.333px')
                margin-right 5px
    .evolucao-marca
    .evolucao-catalogo
    .certificados
        padding 40px 0
        h3
            text-align center
            margin 0 0 30px
            color #fff
            montserrat 24 bold
        +mobile()
            padding 25px 0
            h3
                font-size 18px
    .evolucao-marca
    .certificados
        background #A6A795
        margin-top 45px
        clearfix()
        .marca
        .certificado
            display block
            width calc('25% - 15px')
            margin-right 20px
            margin-bottom 20px
            float left
            img
                width 100%
                display block
                padding 30px
                background #fff
                +mobile()
                    padding 15px
            span
                display block
                text-align center
                opensans 16
                margin 10px 0 0
            &:nth-child(4n+1)
                margin-right 0
            +tablet()
                width calc('33.333% - 13.333px')
                &:nth-child(4n+1)
                    margin-right 20px
                &:nth-child(3n+1)
                    margin-right 0
            +mobile()
                width calc('50% - 10px')
                &:nth-child(4n+1)
                    margin-right 20px
                &:nth-child(2n+1)
                    margin-right 0
                span
                    font-size 14px
        +mobile()
            margin-top 30px
    .certificados
        margin-top 0
    .evolucao-catalogo
        background #BFC0B2
        font-size 0
        .catalogo
            display inline-block
            vertical-align top
            width calc('16.667% - 13.333px')
            margin-right 16px
            margin-bottom 16px
            img
                width 100%
                display block
            &:nth-child(6n+1)
                margin-right 0
            +tablet()
                width calc('25% - 12px')
                &:nth-child(6n+1)
                    margin-right 16px
                &:nth-child(4n+1)
                    margin-right 0
            +mobile()
                width calc('50% - 8px')
                &:nth-child(6n+1)
                    margin-right 16px
                &:nth-child(2n+1)
                    margin-right 0

.certificado-texto
    width 800px
    padding 25px
    +below($tablet)
        width 90%
        padding 15px
    p
        opensans 15
        &:first-child
            margin-top 0
        &:last-child
            margin-bottom 0
        a
            color $vermelho
            text-decoration underline
    img
        max-width 100%
        display block
