.banners
    width 100%
    height 490px
    border-bottom 3px solid $vermelho
    background $img('bg-banner.png') no-repeat center
    +tablet()
        height 400px
    +mobile()
        height 500px
    .banner
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size cover
        background-position center
        overflow hidden
        .center
            height 100%
        img
            position absolute
            height 94%
            width auto
            top 3%
            right 0
            +tablet()
                width 50%
                max-width 500px
                height auto
                top 50%
                transform translateY(-50%)
            +mobile()
                position absolute
                top 25px
                left 50%
                right auto
                height 200px
                width auto
                transform translateX(-50%)
        .banner-texto
            display table
            height 100%
            width 45%
            div
                display table-cell
                vertical-align middle
            h2
                margin 0 0 20px
                montserrat 55 bold
                color #fff
                line-height 1
            p
                opensans 20
                margin 0 0 30px
                font-style italic
                color #fff
            a
                display inline-block
                montserrat 14 bold
                color #fff
                border 1px solid #fff
                transition background .3s, color .3s
                padding 16px 32px
                &:hover
                    background #fff
                    color #000
            +tablet()
                h2
                    font-size 45px
                    margin-bottom 15px
                p
                    font-size 18px
                    margin-bottom 20px
            +mobile()
                width 100%
                padding-top 200px
                text-align center
                h2
                    font-size 30px
                    margin-bottom 10px
                p
                    font-size 15px
                    margin-bottom 15px
                a
                    padding 10px 20px
    .cycle-pager
        position absolute
        bottom 30px
        display block
        width desktop-base-width
        left 50%
        transform translateX(-50%)
        color #fff
        font-size 0
        +below($tablet)
            display none
        a
            display inline-block
            width 12px
            height 12px
            border 1px solid #fff
            border-radius 100%
            transition background .3s
            margin-right 5px
            &.cycle-pager-active
                background #fff

.home-produtos
    background #DDDDD5
    font-size 0
    padding 40px 0
    +mobile()
        padding 20px 0
    a
        display inline-block
        vertical-align top
        border-top 2px solid #000
        width calc('33.33% - 13.333px')
        margin 0 10px
        +mobile()
            width 100%
        img
            width 100%
            display block
            padding 15px
            background #fff
        span
            display block
            opensans 14 bold
            color #fff
            background $vermelho
            padding 5px 10px
            transition background .3s
        &:hover
            span
                background #000

.home-chamadas
    background #000
    padding 30px 0
    +mobile()
        padding 20px 0
    .center
        clearfix()
    .chamadas
        display flex
        width calc('66.667% - 10px')
        float left
        font-size 0
        +mobile()
            display block
            width 100%
        .chamada
            display inline-block
            vertical-align top
            background #fff
            width calc('50% - 10px')
            padding 10px
            position relative
            +mobile()
                width 100%
            h4
                montserrat 14 bold
                color $vermelho
                margin 0 0 10px
                padding-bottom 8px
                border-bottom 1px solid #ddd
                text-align center
            img
                width 100%
                display block
            p
                opensans 14
                text-align center
                margin 10px 0 45px
            .seta
                display block
                position absolute
                bottom 15px
                left 0
                width 100%
                height 25px
                background $img('seta-vermelha.png') no-repeat center
            &:first-child
                margin-right 20px
                +mobile()
                    margin-right 0
                    margin-bottom 20px
    .novidades
        width calc('33.333% - 10px')
        float right
        +mobile()
            width 100%
            margin-top 20px
        a
            display block
            background #666666
            color #fff
            padding 15px
            transition background .3s
            &:hover
                background $vermelho
            &:first-child
                margin-bottom 20px
            h5
                margin 0 0 10px
                padding-bottom 8px
                border-bottom 1px solid #ddd
                opensans 14
                position relative
                &:after
                    content ''
                    position absolute
                    top 0
                    right 0
                    height 16px
                    width 38px
                    background $img('seta-vermelha.png') no-repeat center
            p
                opensans 14 bold
                margin 15px 0 0

.home-financiamentos
    background #DDDDD5
    font-size 0
    padding 30px 0 10px
    text-align center
    margin-bottom 30px
    +mobile()
        margin-bottom 20px
    +mobile()
        padding 20px 0 0
    h3
        montserrat 24 bold
        color $vermelho
        margin 0 0 20px
        +mobile()
            font-size 20px
            margin-bottom 12px
    .financiamento
        display inline-block
        width calc('33.33% - 13.333px')
        margin-right 20px
        margin-bottom 20px
        padding 10px
        background #fff
        &:nth-child(3n)
            margin-right 0
        +mobile()
            width 100%
            margin-right 0
        h5
            montserrat 16 bold
            color $vermelho
            margin 0 0 10px
            padding-bottom 8px
            border-bottom 1px solid #ddd
        img
            width 100%
            display block

#aviso
    width 500px
    padding 25px
    +mobile()
        width 90%
        padding 15px
    p
        opensans 15
        &:first-child
            margin-top 0
        &:last-child
            margin-bottom 0
        a
            color $vermelho
            text-decoration underline

.slick-list
    margin-left -5px !important
    margin-right -5px !important
