.pesquisa
    .center
        clearfix()
    h2 + p
        opensans 15
        margin -1em 0 20px
    .enviado
        text-align center
        montserrat 20 bold
        +mobile()
            font-size 18px
    .erros
        border 1px solid #B92829
        color #B92829
        opensans 14
        padding 10px
        margin-bottom 15px
    .dados
        border-top 1px solid $vermelho
        background #DDDDD5
        padding 20px
        width calc('32% - 10px')
        float left
        +below($tablet)
            width 100%
        input
            background #EEEFE9
            outline 0
            border 0
            opensans 14
            margin-bottom 4px
            display block
            width 100%
            border-radius 0
            padding 5px 8px
            resize none
            &:last-child
                margin-bottom 0
    .pesquisa
        width calc('68% - 10px')
        +below($tablet)
            width 100%
            margin-top 20px
        float right
        border-top 1px solid $vermelho
        background #DDDDD5
        padding 20px
        table
            th
                height 35px
                vertical-align middle
                opensans 11
                text-align center
            tr td:nth-child(2)
            th:nth-child(2)
                border-left 1px solid $vermelho
                border-right 1px solid $vermelho
            tr td:nth-child(3)
            tr td:nth-child(4)
            th:nth-child(3)
            th:nth-child(4)
                border-right 1px solid $vermelho
            tr:not(:first-child) td
                border-top 4px solid #DDDDD5
            td
                height 35px
                vertical-align middle
                opensans 13
                background #EEEFE9
                &:nth-child(1)
                    padding 6px
                &:nth-child(2)
                &:nth-child(3)
                &:nth-child(4)
                    text-align center
            input[type='radio']
                outline 0
            label
                margin-left 15px
                +mobile()
                    display block
                    margin 5px 0 5px 12px
                input
                    margin-right 5px
            textarea
                width 100%
                opensans 13
                height 150px
                resize none
                background transparent
                border 0
                outline 0
        .agradecimento
            width 70%
            float left
            opensans 13
            p:last-child
                margin-bottom 0
            +mobile()
                width 100%
        input[type=submit]
            outline 0
            border 0
            display inline-block
            float right
            montserrat 13 bold
            color #fff
            cursor pointer
            background $vermelho
            transition background .3s
            margin-top 13px
            padding 8px 30px
            +mobile()
                width 100%
            &:hover
                background #000
