.produtos
    .center
        clearfix()
    nav
        width 30%
        float left
        .titulo
            margin-bottom 5px
        +mobile()
            width 100%
        a
            display block
            opensans 15
            border-bottom 1px solid #A9A9A9
            padding 6px
            padding-right 30px
            transition padding .3s
            &:hover
                padding-left 10px
            &.active
                background $img('seta-pequena.png') no-repeat 98% center #DDDDD5
                padding-left 6px
            &.catalogo
                margin-top 20px
                background $img('pdf-icone.png') no-repeat 10px center $vermelho
                min-height 60px
                padding 10px
                padding-left 80px
                opensans 16
                color #fff
                width calc('100% - 20px')
                border 0
                transition background .3s
                +mobile()
                    width 100%
                &:hover
                    background-color #000
                span
                    opensans 12 bold
                    display block
                    margin-bottom 5px
            &.btn-aplicacoes
                margin-top 5px
                background #7F7F6B
                min-height 90px
                padding 18px 10px
                padding-left 80px
                opensans 16
                color #fff
                width calc('100% - 20px')
                border 0
                transition background .3s
                position relative
                &:before
                    content ''
                    position absolute
                    width 44px
                    height 68px
                    left 10px
                    top 50%
                    transform translateY(-50%)
                    background $img('btn-aplicacoes.png') no-repeat center
                +mobile()
                    width 100%
                &:hover
                &.active
                    background-color #000
                span
                    opensans 14 bold
                    display block
                    margin-bottom 5px
            &.catalogo + .catalogo
                margin-top 5px
        h2
            height 24px
            margin-bottom 0 !important
        h2 + a
            border-top 1px solid $vermelho
        h2:not(:first-child)
            margin-top 40px
            +mobile()
                margin-top 20px
    .thumbs
    .show
        width 70%
        float right
        border-top 1px solid $vermelho
        background #DDDDD5
        padding 20px
        margin-top 24px
        +mobile()
            width 100%
            margin 0 0 20px
        .wrapper
            background #fff
            clearfix()
            a:hover .texto h2
                color #000
            a
            > div
                clearfix()
                display block
                position relative
                padding 20px
                &:not(:last-child)
                    border-bottom 10px solid #DDDDD5
                img
                    width 40%
                    display block
                    float left
                    margin-bottom 10px
                    +mobile()
                        width 100%
                        margin-bottom 10px
                .texto
                    width 56%
                    float right
                    +above($mobile)
                        padding 20px
                        padding-left 0
                    +tablet()
                        padding 0 20px 0 0
                    +mobile()
                        width 100%
                    h2
                        montserrat 20 bold
                        color $vermelho
                        margin 0 0 10px
                        transition color .3s
                    p
                        opensans 14
                    ul
                        padding 0
                        opensans 14
                        li
                            list-style-type none
                            position relative
                            padding-left 1em
                            margin 2px 0
                            &:before
                                content ''
                                position absolute
                                top .5em
                                left 0
                                width 3px
                                height 3px
                                background #000
                                border-radius 100%
                    *:last-child
                        margin-bottom 0
                .descricao
                    padding 15px
                    background #EEEFEA
                    float left
                    width 100%
                    margin 20px 0 25px
                    +above($tablet)
                        margin-top 0
                    p
                        opensans 14
                        &:first-child
                            margin-top 0
                        &:last-child
                            margin-bottom 0
                .caracteristicas
                    width 100%
                    float left
                    h5
                        montserrat 14 bold
                        margin 0 0 10px
                    h5 + div
                        border-top 1px solid $vermelho
                        padding-top 10px
                    div
                        border-bottom 1px solid #ddd
                        clearfix()
                        padding 7px 0
                        span
                            opensans 14
                            &:first-child
                                opensans 14 bold
                                width 40%
                                float left
                                text-align right
                            &:last-child
                                width 60%
                                padding-left 15px
                            +below($tablet)
                                width 100% !important
                                display block
                                padding 0 !important
                                text-align left !important
                                &:first-child
                                    margin-bottom 3px
                .seta
                    position absolute
                    width 40px
                    height 60px
                    background $img('seta-pequena.png') no-repeat center #BFC0B0
                    top 50%
                    right -20px
                    transform translateY(-50%)
                    +mobile()
                        display none
    .aplicacoes-thumbs
        font-size 0
        width 100%
        display block
        a
            display inline-block !important
            vertical-align top
            border 0 !important
            width 45%
            margin-bottom 20px
            position relative
            .overlay
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba($vermelho, .7)
                opacity 0
                transition opacity .3s
            &:hover .overlay
                opacity 1
            &:nth-child(2n)
                margin-left 5%
            +mobile()
                width 100%
                margin-left 0 !important
            img
                width 100% !important
                margin 0 !important
                display block
    .aplicacao-img
        width 100%
        text-align center
        img
            max-width 100%
            width auto !important
            display inline-block !important
            margin 0 !important
            float none !important

.voltar-produto
    width 70%
    float right
    clear both
    margin-top 15px
    a
        display inline-block
        background #E7E7E6
        border 1px solid #8A8A8A
        opensans 14 bold
        color #8A8A8A
        padding 12px
        padding-left 45px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            height 100%
            width 45px
            background $img('seta-vermelha.png') no-repeat center
            background-size 32px auto
            transform rotate(180deg)

.popup-catalogo
    min-width 450px
    padding 20px
    background #DDDDD5
    text-align center
    +mobile()
        min-width auto
        width 100%
    h2
        montserrat 18 bold
        margin 0 0 1em
        color $vermelho
        text-align left
        span
            montserrat 13 bold
            display block
            margin-bottom 3px
    form
        clearfix()
        input
            background rgba(#fff, .8)
            outline 0
            border 0
            opensans 14
            margin-bottom 4px
            display block
            width 100%
            border-radius 0
            padding 5px 8px
            resize none
        input[type=submit]
            float right
            width auto
            background $vermelho
            montserrat 13 bold
            color #fff
            transition background .3s
            padding 8px 30px
            cursor pointer
            margin-bottom 0
            &:hover
                background #000
        #form-catalogo-response
            display none
            width 100%
            margin-bottom 4px
            border 2px solid rgba(#000, .4)
            montserrat 12 bold
            text-transform uppercase
            color rgba(#000, .7)
            text-align center
            padding 10px
    .catalogo-download-link
        display none
        margin 20px 0 0
        a
            display block
            width 100%
            background $vermelho
            montserrat 16 bold
            color #fff
            transition background .3s
            padding 8px 30px
            cursor pointer
            text-align center
            &:hover
                background #000
