.servicos
    .center
        clearfix()
    nav
        width 30%
        float left
        border-top 1px solid $vermelho
        +mobile()
            width 100%
        a
            display block
            opensans 15
            border-bottom 1px solid #A9A9A9
            padding 6px
            padding-right 30px
            transition padding .3s
            &:hover
                padding-left 10px
            &.active
                background $img('seta-pequena.png') no-repeat 98% center #DDDDD5
                padding-left 6px
    .servico
        width 70%
        float right
        border-top 1px solid $vermelho
        background #DDDDD5
        padding 20px
        .wrapper
            background #fff
            padding 20px
            clearfix()
            img
                width 40%
                display block
                float left
            .texto
                width 56%
                float right
                h2
                    montserrat 20 bold
                    color $vermelho
                    margin 0 0 10px
                    text-transform uppercase
                p
                    opensans 15
                    margin-top 0
                    &:last-child
                        margin-bottom 0
        +mobile()
            width 100%
            .wrapper
                img
                    width 100%
                    margin-bottom 15px
                .texto
                    width 100%
