.tabelas
    .center
        clearfix()
    .apresentacao
        width 28.5%
        float left
        .titulo
            margin-bottom 15px
        p
            opensans 15
        +mobile()
            width 100%
            margin-bottom 10px
    .thumbs
        width 65%
        float right
        display flex
        font-size 0
        flex-wrap wrap
        +mobile()
            width 100%
        a
            display inline-block
            vertical-align top
            width calc('33.333% - 13.333px')
            margin-right 20px
            margin-bottom 20px
            border 2px solid #ddd
            montserrat 14 bold
            text-align center
            padding 75px 25px 15px
            transition border .3s
            background $img('icone-tabelas.png') no-repeat center 20px
            &:hover
                border-color $vermelho
            &:nth-child(3n)
                margin-right 0
            +below($tablet)
                width calc('50% - 10px')
                &:nth-child(3n)
                    margin-right 20px
                &:nth-child(2n)
                    margin-right 0
