.trabalhe
    .center
        clearfix()
    img
        width 30%
        float left
        display block
        +mobile()
            width 100%
            margin-bottom 10px
    .enviado
        width 67%
        float right
        text-align center
        montserrat 20 bold
        +mobile()
            width 100%
            font-size 18px
    .erros
        border 1px solid #B92829
        color #B92829
        opensans 14
        padding 10px
        margin-bottom 15px
    form
        width 67%
        float right
        +mobile()
            width 100%
        input
            background #EEEFE9
            outline 0
            border 0
            opensans 14
            margin-bottom 4px
            display block
            width 100%
            border-radius 0
            padding 5px 8px
            resize none
            &[type=submit]
                float left
                montserrat 16 bold
                color #fff
                cursor pointer
                background $vermelho
                transition background .3s
                margin-top 13px
                &:hover
                    background #000
        .inputs
        .btn-curriculo
            width calc('50% - 10px')
            +below($tablet)
                width 100%
        .inputs
            float left
        .btn-curriculo
            float right
            height 116px
            background #DDDDD5
            cursor pointer
            position relative
            transition background .3s
            &:hover
            &.active
                background darken(#DDDDD5, 5)
            span
                position absolute
                width 100%
                display block
                padding 10px
                top 50%
                left 0
                transform translateY(-50%)
                opensans 16 bold
                text-align center
                z-index 1
            &.active span
                font-size 14px
            input
                cursor pointer
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                right 0
                bottom 0
                padding 0
                opacity 0
                cursor pointer
                z-index 2
